<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}ALPHA LAYER{% endblock %} - ALPHA LAYER</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
         <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
           
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

          <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    
    padding-bottom: 3px;
    padding-top: 11px;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  </style>
    </head>
    <body>


        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                    <nav class="navbar navbar-inverse">
                     <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><img src="{{ asset('Bundles/AcmeSite/images/header-logo.png') }}" style="width: 88px;
    margin-top: -31px;" alt="Alpha layer" /></a>
     
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
                            
                                <li><a href="{{path('acme_homepage')}}">Home</a></li>
                                <li><a href="{{path('acme_reference')}}">Reference</a></li>
                                <li><a href="{{path('acme_solution')}}">Solution</a></li>
                                    <li><a href="{{path('acme_registration')}}">Registration</a></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>

                <hgroup>
                   
            
                </hgroup>
            </header>

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
            <aside class="sidebar">
                {% block sidebar %}{% endblock %}
            </aside>

            <div class"footer">
                {% block footer %}


<footer class="container-fluid text-center">
  <p>Symfony2 Website tutorial - created by Pierre</p>
</footer>
                    
                {% endblock %}
            </div>
        </section>

        {% block javascripts %}{% endblock %}
    </body>
</html>